@import "~bootstrap/scss/bootstrap.scss";

.traffic-light-container{
    height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;

    .light-container     {
        width: 150px;
        height: 350px;
        background-color: rgb(65, 65, 65);
        border-radius: 20px;
        display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        .red, .yellow, .green{
            width: 80px;
            height: 80px;
            border-radius: 100px;
            cursor: pointer;

            &.encendida > div{
                display: block;
            }
        }

        .red{
            background-color: red;       
        }


        .yellow{
            background-color: yellow;


        }

        .green{
            background-color: green;
        }

        
        .red-glow, .yellow-glow, .green-glow{
            width: 80px;
            height: 80px;
            filter: blur(15px);
            display: none;
        }

        .red-glow{
            background-color: rgb(252, 97, 97);
        }

        .yellow-glow{
            background-color: rgb(255, 255, 82);
        }
        .green-glow{
            background-color: rgb(87, 207, 87);
        }




    }
   

}
